:root {
    --font-family-B: InterB, sans-serif;
    --font-family-L: InterL, sans-serif;
    --font-family-M: InterM, sans-serif;
    --font-family-R: InterR, sans-serif;
    --font-family-S-B: InterS-B, sans-serif;
}

* { 
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    background: #ffffff;
}

.cv {
    display: flex;
}
